
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap');



*{
    margin: 0;padding: 0;
    box-sizing: border-box;
    font-family: 'Orbitron', sans-serif;
    
}
body{
    background-color: rgb(239, 232, 232);
}

.main{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(45deg, #22037d, #425703);
    color: #fff;
    position: relative;
    /* padding: 300px;
    display: flex;
    flex-direction: row ;
    justify-content: center;
    text-align: center; */
    

    
}

.container{
    width: 800px;
    height: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-45%, -50%);
    background-image: url(skull.jpg);
    background-repeat: no-repeat;
    
}


